@font-face {
   font-family: 'AdonisC Regular';
   font-display: swap;
   src: url('file:///Users/davidfraser/Library/CloudStorage/Tresorit-DavidFraser/GitHub/Sites/In%20Development/fiorente/fonts/AdonisC%20Regular/font.ttf');
}
