@font-face {
   font-family: 'OktaNeue-Normal';
   font-display: swap;
   src: url('file:///Users/davidfraser/Library/CloudStorage/Tresorit-DavidFraser/GitHub/Sites/In%20Development/fiorente/fonts/OktaNeue-Normal/font.ttf');
}
