@font-face {
   font-family: 'AdonisC Regular';
   font-display: swap;
   src: url('file:///Users/dave/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-29_172942/fonts/AdonisC%20Regular/font.ttf');
}
